@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Jost:wght@300;400;500;600&display=swap');

.header {
    display: flex;
    justify-content: center;
}

/* Nav */
#navbarNav {
    justify-content: center;
}

.container-fluid {
    background-color: #ED9BBC;
}

.nav-link {
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.containerCarrito {
    position: relative;
}

.containerCarrito nav i:hover .compra>button:hover {
    background-color: #EE4823;
    transition: all .4s;
}

.containerCarrito nav i {
    font-size: 2rem;
    cursor: pointer;
    padding-right: 30px;
}

.containerCarrito nav i:hover>.compra {
    width: 600px;
    height: 800px;
    position: absolute;
    right: 0;
    background-color: #ffff;
    z-index: 1;
}

.navCart {
    display: none;
}

.containerCarrito nav i:hover .navCart {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0 10px;
    border-bottom: solid thin #e1e1;
}

.containerCarrito nav i:hover .compra>button {
    display: block;
    width: 90%;
    padding: 1rem;
    margin: 10px auto;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3rem;
    color: white;
    background-color: #ED9BBC;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.containerCarrito nav button {
    display: none;
}

.navCart li {
    font-size: 1rem;
    list-style: none;
    padding: 1rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 30px 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}


/* Carrito */
.carrito {
    display: none;
    position: fixed;
    top: 0;
    right: 0%;
    width: 460px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    z-index: 3;
    transition: 0.3s;
}

.carrito.activo {
    display: block;
}

#cerrarCarrito {
    cursor: pointer;
}


.tituloCarrito {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.boxCarrito {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}

.imgCarrito {
    width: 95%;
    object-fit: contain;
    padding: 10px 0;
}

.carritoImagen {
    width: 90%;
    height: auto;
}

.detallesCarrito {
    display: grid;
    row-gap: 0.5rem;
}

.tituloProducto {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.precioCarrito {
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.cantidadCarrito {
    border: 1px solid;
    outline-color: #ED9BBC;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.eliminarCarrito {
    font-size: 24px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.tituloTotal {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1rem;
}

.precioTotal {
    margin-left: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.btn-comprar {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px;
    border: none;
    background: #ED9BBC;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: #EE4823;
}

#cerrarCarrito {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

/* Card producto */
#listaProductos {
    display: flex;
    justify-content: center;
}

#contenedorProducto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    width: 90%;
}


.card {
    box-shadow: 6px 9px 18px 0px rgba(41, 41, 41, 0.55);
    -webkit-box-shadow: 6px 9px 18px 0px rgba(41, 41, 41, 0.55);
    -moz-box-shadow: 6px 9px 18px 0px rgba(41, 41, 41, 0.55);
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
}

.card-title {
    font-size: 1.3em;
    text-align: center;
}

.card-price {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.btn-primary {
    background-color: #ED9BBC;
    border: #ED9BBC;
    --bs-btn-color: #fff;
    --bs-btn-bg: #EE4823;
    --bs-btn-border-color: #EE4823;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #EE4823;
    --bs-btn-hover-border-color: #EE4823;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #EE4823;
    --bs-btn-active-border-color: #EE4823;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #EE4823;
    --bs-btn-disabled-border-color: #EE4823;
}

.card:hover {
    padding: 20px;
    border: 1px var(--bs-btn-active-color);
    transition: .4s;
}

/* Sidebar carrito */
.container-carrito {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.titleProducto {
    width: 80%;
}

.icono {
    cursor: pointer;
    width: 13%;
    font-size: 3em;
    padding: 40px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: row;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border-bottom: 1px solid #888;
    width: 80%;
}


.close {
    width: 5%;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}